/*bagian body*/
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

/*bagian container*/
.container {
    background: whitesmoke;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0 ,0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 400px;
}
/*bagian elemen input button*/
input, button {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    width: 96%;
}

/*bagian wana button*/
.biru {
    background-color: blue;
    color: white;
    border: solid 1px #ddd;
    cursor: pointer;
}
.merah {
    background-color:red;
    color: white;
    border: solid 1px #ddd;
    cursor: pointer;
}
.orange {
    background-color:orange;
    color: white;
    border: solid 1px #ddd;
    cursor: pointer;
}
